<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post" action="/post_code">
        <p>
            <select name = "lang">
                <option disabled> Выберите язык </option>
                <option value = "cpp"> C++ </option>
                <option value = "python"> Python </option>
            </select>
        </p>
        <p>
            <textarea name = "code">

            </textarea>
        </p>
        <p>
            <input value="Отправить код" type="submit">
        </p>
    </form>
</div>
</body>
</html>